#sign-in{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#page-signIn-content {
    display: flex;
    flex-direction: column;
    background: #E5E5E5; 
}

.goBack {
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cadUser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cadUser-container .title{
    display: flex;
    flex-direction: column;
}

.cadUser-container .title p {
    max-width: 230px;
}

.cadUser-container .input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.6rem;
    margin-bottom: 2.4rem;
}

.cadUser-container .input-block input {
    border-radius: 0.9rem;
    outline: none;
    height: 5.2rem;
    border-style: none;
    margin-bottom: 0.2rem;
    padding-left: 2rem;
}

.cadUser-container eyes{
    
}

.cadUser-container .btn-cadastrar {
    display: flex;
    align-items: center;
    height: 4.2rem;
    border-radius: 0.8rem;
    outline: none;
    border-style: none;
    width: 100%;
    justify-content: center;
    background: var(--color-secondary);
    color: #FFF;
    margin-bottom: 10rem;
}

#container-logo {
    background-image: url('../../assets/images/login-background.svg');
    margin: 0;
    height: 50vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

#container-logo .logo{
    margin-top: 10rem;
    width: 350px;
}

#container-logo  h2 {
    color: #D4C2FF;
    max-width: 300px;
    margin-left: -4.8rem;
    margin-bottom: 5rem;
}